In [3]:
import pandas as pd
import requests
import numpy as np
import matplotlib.cm as cm
import matplotlib.colors as colors
import folium
from sklearn.cluster import KMeans

In [4]:
#pip install folium

In [5]:
url_london = "https://en.wikipedia.org/wiki/List_of_areas_of_London"
wiki_london_url = requests.get(url_london)
wiki_london_url

In [6]:
wiki_london_data = pd.read_html(wiki_london_url.text)
wiki_london_data

[                                                   0
 0  Map all coordinates in "Category:Areas of Lond...
 1                       Download coordinates as: KML,
             Location                     London borough       Post town  \
 0         Abbey Wood              Bexley, Greenwich [7]          LONDON
 1              Acton  Ealing, Hammersmith and Fulham[8]          LONDON
 2          Addington                         Croydon[8]         CROYDON
 3         Addiscombe                         Croydon[8]         CROYDON
 4        Albany Park                             Bexley  BEXLEY, SIDCUP
 ..               ...                                ...             ...
 526         Woolwich                          Greenwich          LONDON
 527   Worcester Park       Sutton, Kingston upon Thames  WORCESTER PARK
 528  Wormwood Scrubs             Hammersmith and Fulham          LONDON
 529          Yeading                         Hillingdon           HAYES
 530         Yiewsley                         Hillingdon    WEST DRAYTON

     Postcode district Dial code OS grid ref
 0                 SE2       020    TQ465785
 1              W3, W4       020    TQ205805
 2                 CR0       020    TQ375645
 3                 CR0       020    TQ345665
 4           DA5, DA14       020    TQ478728
 ..                ...       ...         ...
 526              SE18       020    TQ435795
 527               KT4       020    TQ225655
 528               W12       020    TQ225815
 529               UB4       020    TQ115825
 530               UB7       020    TQ063804

 [531 rows x 6 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Distric...,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteAreas of London  \
 0                            Central activities zone
 1                                 Town centrenetwork
 2                                      International
 3                                       Metropolitan
 4                                              Major
 5                               Districts(principal)
 6                          Neighbourhoods(principal)
 7                           Lists of areasby borough
 8                                          Fictional

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteAreas of London.1
 0  Bloomsbury City of London wards Holborn Maryle...
 1  International Knightsbridge West End Metropoli...
 2                             Knightsbridge West End
 3  Bromley Croydon Ealing Harrow Hounslow Ilford ...
 4  Angel Barking Bexleyheath Brixton Camden Town ...
 5  Acton Beckenham Belgravia Bethnal Green Brentf...
 6  Abbey Wood Alperton Anerley Archway Barnes Bar...
 7  Barking and Dagenham Barnet Bexley Brent Broml...
 8  Canley (borough) (The Bill: TV soap) Charnham ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ,
                            0  \
 0              International
 1               Metropolitan
 2                      Major
 3       Districts(principal)
 4  Neighbourhoods(principal)

                                                    1
 0                             Knightsbridge West End
 1  Bromley Croydon Ealing Harrow Hounslow Ilford ...
 2  Angel Barking Bexleyheath Brixton Camden Town ...
 3  Acton Beckenham Belgravia Bethnal Green Brentf...
 4  Abbey Wood Alperton Anerley Archway Barnes Bar...  ]

In [7]:
wiki_london_data = wiki_london_data[1]
wiki_london_data

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728
...,...,...,...,...,...,...
526,Woolwich,Greenwich,LONDON,SE18,020,TQ435795
527,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,020,TQ225655
528,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,020,TQ225815
529,Yeading,Hillingdon,HAYES,UB4,020,TQ115825
530,Yiewsley,Hillingdon,WEST DRAYTON,UB7,020,TQ063804

In [8]:
df1 = wiki_london_data.drop( [ wiki_london_data.columns[0], wiki_london_data.columns[4], wiki_london_data.columns[5] ], axis=1)

In [9]:
df1

                        London borough       Post town Postcode district
0                Bexley, Greenwich [7]          LONDON               SE2
1    Ealing, Hammersmith and Fulham[8]          LONDON            W3, W4
2                           Croydon[8]         CROYDON               CR0
3                           Croydon[8]         CROYDON               CR0
4                               Bexley  BEXLEY, SIDCUP         DA5, DA14
..                                 ...             ...               ...
526                          Greenwich          LONDON              SE18
527       Sutton, Kingston upon Thames  WORCESTER PARK               KT4
528             Hammersmith and Fulham          LONDON               W12
529                         Hillingdon           HAYES               UB4
530                         Hillingdon    WEST DRAYTON               UB7

[531 rows x 3 columns]

In [10]:
df1.columns = ['borough','town','post_code']

In [11]:
df1

                               borough            town  post_code
0                Bexley, Greenwich [7]          LONDON        SE2
1    Ealing, Hammersmith and Fulham[8]          LONDON     W3, W4
2                           Croydon[8]         CROYDON        CR0
3                           Croydon[8]         CROYDON        CR0
4                               Bexley  BEXLEY, SIDCUP  DA5, DA14
..                                 ...             ...        ...
526                          Greenwich          LONDON       SE18
527       Sutton, Kingston upon Thames  WORCESTER PARK        KT4
528             Hammersmith and Fulham          LONDON        W12
529                         Hillingdon           HAYES        UB4
530                         Hillingdon    WEST DRAYTON        UB7

[531 rows x 3 columns]

In [13]:
df1['borough'] = df1['borough'].map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))
df1

                            borough            town  post_code
0                Bexley, Greenwich           LONDON        SE2
1    Ealing, Hammersmith and Fulham          LONDON     W3, W4
2                           Croydon         CROYDON        CR0
3                           Croydon         CROYDON        CR0
4                            Bexley  BEXLEY, SIDCUP  DA5, DA14
..                              ...             ...        ...
526                       Greenwich          LONDON       SE18
527    Sutton, Kingston upon Thames  WORCESTER PARK        KT4
528          Hammersmith and Fulham          LONDON        W12
529                      Hillingdon           HAYES        UB4
530                      Hillingdon    WEST DRAYTON        UB7

[531 rows x 3 columns]

In [14]:
df1.shape

(531, 3)

In [15]:
df1 = df1[df1['town'].str.contains('LONDON')]
df1

                            borough                    town post_code
0                Bexley, Greenwich                   LONDON       SE2
1    Ealing, Hammersmith and Fulham                  LONDON    W3, W4
6                              City                  LONDON       EC3
7                       Westminster                  LONDON       WC2
9                           Bromley                  LONDON      SE20
..                              ...                     ...       ...
521                       Redbridge                  LONDON  IG8, E18
522       Redbridge, Waltham Forest  LONDON, WOODFORD GREEN       IG8
525                          Barnet                  LONDON       N12
526                       Greenwich                  LONDON      SE18
528          Hammersmith and Fulham                  LONDON       W12

[308 rows x 3 columns]

In [16]:

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 308 entries, 0 to 528
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   borough    308 non-null    object
 1   town       308 non-null    object
 2   post_code  308 non-null    object
dtypes: object(3)
memory usage: 9.6+ KB

In [ ]:
pip install arcgis

In [ ]:
from arcgis.geocoding import geocode
from arcgis.gis import GIS
gis = GIS()

In [ ]:
def get_x_y_uk(address1):
   lat_coords = 0
   lng_coords = 0
   g = geocode(address='{}, London, England, GBR'.format(address1))[0]
   lng_coords = g['location']['x']
   lat_coords = g['location']['y']
   return str(lat_coords) +","+ str(lng_coords)

In [ ]:
c = get_x_y_uk('SE2')

In [ ]:
c

In [ ]:
geo_coordinates_uk = df1['post_code']    
geo_coordinates_uk

In [ ]:
coordinates_latlng_uk = geo_coordinates_uk.apply(lambda x: get_x_y_uk(x))
coordinates_latlng_uk

In [ ]:
lat_uk = coordinates_latlng_uk.apply(lambda x: x.split(',')[0])
lat_uk

In [ ]:
lng_uk = coordinates_latlng_uk.apply(lambda x: x.split(',')[1])
lng_uk

In [ ]:

london_merged = pd.concat([df1,lat_uk.astype(float), lng_uk.astype(float)], axis=1)
london_merged.columns= ['borough','town','post_code','latitude','longitude']
london_merged

In [ ]:
london_merged.dtypes

In [ ]:
london = geocode(address='London, England, GBR')[0]
london_lng_coords = london['location']['x']
london_lat_coords = london['location']['y']
london_lng_coords

In [ ]:
london_lat_coords